.article {
	margin: auto;
	text-align: left;
	width: 50%;
}

.title {
	margin-top: 20px;
	margin-bottom: 30px;
}

.content {
	border: none;
	font-size: 13px;
	line-height: 25px;
	margin-bottom: 30px;
	white-space:pre-line;
}

